// colors
$primary: #FFFFFF;
$secondary: #F7F6F4;
$neutral: #6D6F72;

// highlights
$highlight-1: #FD7B38;
$highlight-2: #FFE9DE;

// themes
$white: #ffffff;
$black: #111111;

// informative colours
$info: #3273dc;
$success: #6e8e2f;
$warning: #ffdd57;
$danger: #f56666;

$font-base-color: $black;