* {
    box-sizing: border-box;
    &:hover,
    &:focus {
      outline: none;
    }
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video,
  input,
  textarea,
  select,
  option,
  button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    background-image: none;
    box-sizing: border-box;
    font-family: $font-base-family;
    font-size: $font-base-size;
    color: $font-base-color;
    line-height: $font-base-line-height;
    letter-spacing: $font-base-letter-spacing;
    font-weight: $font-base-weight;
  }
  input,
  textarea,
  select,
  option {
    color: $black;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-heading-family;
  }
  strong {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
  }
  button,
  iframe {
    vertical-align: bottom;
  }
  button {
    border: none;
    border-radius: $border-radius;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section {
    display: block;
  }
  /* HTML5 hidden-attribute fix for newer browsers */
  *[hidden] {
    display: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
  
    /* Background Color */
    background-color: $background-base-color;
    position: absolute;
  }
  
  #root {
    height: 100%;
    width: 100%;
  }
  
  ::placeholder {
    color: $black;
    opacity: 0.8;
  }
  
  .placeholder-white::placeholder {
    color: $white;
  }
  
  @media only screen and (max-width: 800px) {
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video,
    input,
    textarea {
      font-size: 95%;
    }
  }
  