// colors
$primary: #2B2F33;
$secondary: #212529;
$neutral: #6D6F72;

// highlights
$highlight-1: #007DFF;
$highlight-2: #273647;

// themes
$white: #ffffff;
$black: #111111;

// informative colours
$info: #3273dc;
$success: #6e8e2f;
$warning: #ffdd57;
$danger: #f56666;
