// colors
$primary: #111;
$secondary: #111;
$neutral: #c3c3c3;

// highlights
$highlight-1: #474747;
$highlight-2: #474747;

// themes
$white: #ffffff;
$black: #111111;

// informative colours
$info: #3273dc;
$success: #6e8e2f;
$warning: #ffdd57;
$danger: #f56666;
