
// background

$base-transition-speed: 0.3s;
$base-transition-timing: cubic-bezier(0.25, 0.8, 0.25, 1);

$background-transition-speed: $base-transition-speed;
$background-transition-timing: $base-transition-timing;

